
/*


*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: var(--clr-text-primary);
}

:root {
  --clr-primary: #054C58;  /* Dark Blue */
  --clr-primary-lighter: #839699; /* Light Blue, almost grey */
  --clr-secondary: #A6560C; /* Dark Orange */
  --clr-secondary-lighter: #D1AD8B; /* Light Orange */
  --clr-table-grey: #F3F3F3; /* Light Grey */
  --clr-table-blue: #EBFCFF; /* Light Blue */
  --clr-text-primary: #838181;
  --btn-transition: all 0.2s ease-in-out;
}

body {
  background-color: lightblue;
}

/****************************** UTILITY CLASSES ******************************/
p {
  line-height: 1.6;
}

.font-900 {
  font-weight: 900;
}

.mx-0 {
  margin: 0;
}

.my-1 {
  padding: 1rem 0;
}

.my-2 {
  padding: 2rem 0;
}

.page-container {
  max-width: 1280px;
  margin: -6px auto;
  padding: 0 1rem;
}

.content-container {
  background-color: #fff;
  margin-top: 2.5rem;
  padding: 2rem;
}

.btn-primary {
  border: 2px solid var(--clr-secondary-lighter);
  background: var(--clr-secondary);
  color: #fff;
  font-size: 20px;
  transition: var(--btn-transition);
  cursor: pointer;
  display: block;
}

.btn-primary:hover {
  border: 2px solid var(--clr-secondary);
  background: var(--clr-secondary-lighter);
  color: #606060;
  cursor: pointer;
}

.btn-secondary {
  text-decoration: none;
  background: #EEEEEE;
  border: 2px solid #CECBCB;
  padding: 1.25rem 2rem;
  font-size: 20px;
  transition: var(--btn-transition);
  cursor: pointer;
}

a.btn-secondary:hover{
  background: var(--clr-primary);
  color: #fff;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-container input {
    margin: 0 0.5rem;
  }

.checkbox-container input[type="checkbox"] {
  position: relative;
  width: 60px;
  height: 35px;
  -webkit-appearance: none;
  background-color: #fff;
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.checkbox-container input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 27px;
  height: 27px;
  top: 4px;
  left: 5px;
  background-color: var(--clr-primary);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.checkbox-container input:checked[type="checkbox"]:before {
  left: 28px;
}

/****************************** NAVBAR ******************************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav a {
  color: #fff;
  background-color: var(--clr-primary-lighter);
  text-decoration: none;
  display: inline-block;
  width: 120px;
  margin-right: 16px;
  padding: 3rem 0 1rem;
  text-align: center;
  transition: var(--btn-transition);
}

nav a:hover {
  background-color: var(--clr-primary);
  cursor: pointer;
}

.link-active {
  background-color: var(--clr-primary);
}

.player-name {
  text-align: right;
  font-size: 20px;
  color: var(--clr-secondary);
}

.logout-btn {
  background: none;
  border: none;
  color: var(--clr-secondary);
  font-size: 16px;
  cursor: pointer;
}

/****************************** LOGIN & SIGNUP ******************************/
.login, .signup {
  position: relative;
  background-image: linear-gradient(
      rgb(255 255 255 / 85%), 
      rgb(255 255 255 / 79%)
  ), url(./images/bg-img.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Pathway Gothic One', sans-serif;
  color: var(--clr-text-primary);
}

.login h1, .signup h1 {
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 3rem;
}

.login input, .signup input {
  display: block;
  width: 300px;
  height: 65px;
  font-size: 20px;
}

.login input[type="email"], .login input[type="password"], .signup input[type="email"], .signup input[type="password"], .signup input[type="text"]  {
  background: #EEEEEE;
  border: 2px solid #CECBCB;
  padding-left: 12px;
  margin-bottom: 0.75rem;
}

.login input[type="submit"], .signup input[type="submit"] {
  border: 2px solid var(--clr-secondary-lighter);
  background: var(--clr-secondary);
  color: #fff;
  transition: var(--btn-transition);
  margin-bottom: 1rem;
}

.login input[type="submit"]:hover, .signup input[type="submit"]:hover {
  border: 2px solid var(--clr-secondary);
  background: var(--clr-secondary-lighter);
  color: #606060;
  cursor: pointer;
}

.error-msg {
  height: 60px;
}

.error-msg p {
  color: red;
  font-size: 20px;
  font-weight: 600;
}

/****************************** ADMIN-DASHBOARD ******************************/
#admin-dashboard .btn-primary {
  width: 300px;
  height: 85px;
}
.advantage-form {
  margin-top: 2rem;
}
.advantage-form select {
  margin-bottom: 2rem;
}

/****************************** HOME ******************************/

.home .cols-2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/****************************** SURVIVORS ******************************/

.survivors table {
  width: 50%;
  margin: auto;
}

/****************************** TABLES ******************************/

.table-container {
  overflow-x: auto;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tbody:nth-child(odd) {
  background-color: var(--clr-table-grey);
}

table tbody:nth-child(even) {
  background-color: var(--clr-table-blue);
}

table th {
  padding: 1rem;
}

table td {
  padding: 0.5rem;
  text-align: center;
}

table td:nth-child(1) {
  text-align: left;
}

/****************************** WEEKLYS FORM ******************************/
.weeklysForm {
  padding: 0rem 1rem 2rem;
  border: 2px solid var(--clr-primary);
}

.weeklysForm h3 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3rem;
}

.weeklysForm .flex {
  display: flex;
  gap: 2rem;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.weeklysForm .flex label {
  width: 360px;
  justify-content: center;
  text-align: center;
}

.weeklysForm label div {
  padding: 1rem 0 3rem;
}

.weeklysForm select {
  margin: 0 1rem;
  padding: 0.4rem;
  font-size: 1rem;
}

.weeklysForm .flex-2 {
  text-align: center;
  width: 360px;
  margin: auto;
}

.weeklysForm .btn-primary {
  padding: 1.25rem 2rem;
}

.weeklysFormComplete {
  background-color: var(--clr-primary-lighter);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  height: 100%;
}

.weeklysFormComplete h2 {
  color: #fff;
  padding-bottom: 3rem;
}

.weeklysFormComplete p {
  color: #fff;
  font-weight: 300;
} 

/****************************** FOOTER ******************************/
footer {
  padding: 0.75rem;
  background: var(--clr-secondary);
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}